h2 {
    color: blueviolet;
    background-color: rgb(11, 17, 1);
    }
    
    p{
        background-color: deeppink;
        font-style: italic;
    }
    
    #Strepsiptera_main{
        background-color: khaki;   
    }
    
#Female_strepsiptera{
    text-align: center;
}